body{
    background-color: lightgreen;
    color: darkolivegreen;
    font-family: "Lato", Arial;
    margin-left: 6%;
}
h1{
    margin-left: 44%;
}
h2{
    margin-left: 36%;
}
table{
    
    color: darkcyan;
}
  .home-button {
    text-align: right;
    margin-top: 5px;
  }
.home-button a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: bisque;
    color:#263038; ;
    border-radius: 6px;
    transition: background-color 0.6s;
  }
  
  .home-button a:hover {
    background-color: #263038;
    color:bisque;
}