nonbody{
    background-color:
     aquamarine;color:
      blueviolet;margin-left: 22%;
      
    }
    body {
      background-color: #fff;
      color: #000;
  }
  
  /* ... (your existing styles) */
  