body {
    background-color:darkgray;
    text-align: center;
    font-family: Arial, sans-serif;
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 60px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 1px 0.25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .custom-btn-0 {
    width: 60px;
    height: 40px;
    color: rgb(57, 202, 207);
    border-radius: 5px;
    padding: 1px 0.25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  

  
  /* 15 */
  .btn-15 {
    background: transparent;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(255, 109, 87, 0.23);
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.9s ease;
  }
  .btn-15:hover {
    color: gray;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  .language-menu {
    background-color: rgba(25, 109, 87, 0.23); 
  }
  .Reset {
    background-color: red;
    color:aquamarine;
  }
  .DEV-Text {
    color:aquamarine;
    background-color: blueviolet;
  }