body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66c2ff;
}

.section {
    padding: 100px 0;
}

.content {
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.portfolio-item {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h3 {
    margin-top: 10px;
}

.portfolio-item p {
    margin-top: 10px;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    animation: fadeInUp 1s ease forwards;
}
/* Scroll "hoch" Button */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: #555555;
}

#scrollToTopBtn.show {
    display: block;
}

/* Aktiver Link in der Navigation */
nav ul li a.active {
    color: #66c2ff;
}
/* Kontaktdaten */
.contact {
    color: #c2fce4; /* Farbe für die Kontaktdaten */
    text-decoration: none;
    margin-right: 20px; /* Abstand zwischen den Kontak daten */
}

.contact:hover {
    color: #66c2ff; /* Farbe ändern, wenn Maus über dem Link ist */
}
