body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Dunkler Text */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li, .sidebar ul li {
    display: block;
    margin-bottom: 10px; /* Abstand zwischen den Listenelementen */
    color: #333; /* Dunkler Text */
}

nav ul li a, .sidebar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Übergangseffekt für die Farbänderung */
}

nav ul li a:hover, .sidebar ul li a:hover {
    color: gold; /* Goldene Farbe beim Hovern */
}

main {
    padding: 20px;
    margin-left: 220px; /* Breite der Seitenleiste plus Abstand */
}

.completed {
    background-color: #cfc;
}

.sidebar {
    position: fixed;
    top: 60px; /* Abstand von der Navbar */
    left: 0;
    width: 200px; /* Breite der Seitenleiste */
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
}
