body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Dunkler Text */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontale Ausrichtung */
}

nav ul li {
    margin-right: 20px; /* Abstand zwischen den Listenelementen */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s; /* Übergangseffekt für die Farbänderung */
}

nav ul li a:hover {
    color: gold; /* Goldene Farbe beim Hovern */
}

main {
    padding: 20px;
}

.completed {
    background-color: #cfc;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: Black;
    padding: 20px;
    overflow-y: auto;
}
aside {

    color:  #333;   
}
